<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AttenTrack</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../assets/static/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles --> 
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{url_for('static',filename='assets/images/logo.png')}}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="navbar-brand brand-logo gradient-primary text-decoration-none font-weight-bold" href="/"><img src="{{url_for('static',filename='assets/images/logo.png')}}" style="width:70px;height:70px;padding:20px;" alt="logo" />AttenTRACK AMS</a>
         
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
     
        <!-- partial -->
    
            <div class="content-wrapper w-100" style="min-height: 90vh;"> 
               <a href="javascript:history.back()" class="me-3 ms-3">
                  <i class="mdi mdi-arrow-left" style="font-size: 24px; color: black;"></i>
              </a>
              <div class="col-5 m-3 stretch-card mx-auto"> 
                
                <div class="card rounded-5">
                  
                  <div class="card-body">  
                   
                    <h4 class="card-title">Log In as Teacher</h4>
                    <p class="card-description mb-1">Please fill the information needed</p> 
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="mb-1"
                            style="display:fix;font-size:10px; width:200px; height:25px;{% if category == 'error' %}color:red;{% else %}color:rgba(21, 157, 0, 0.91);{% endif %}">
                                <b>{% if category == 'error' %}ERROR{% else %}Success{% endif %}</b>: {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <form action="{{ url_for('login_teacher') }}" method="POST" class="forms-sample ">
                      <div class="form-group">
                        <label for="teacher_id">Teacher ID:</label>
                        <input type="text" class="form-control inner-shadow rounded-4" id="teacher_id" name="teacher_id" placeholder="Enter Teacher ID">
                      </div>
                      <div class="form-group position-relative">
                        <label for="teacher_pass">Password:</label>
                        <input type="password" class="form-control inner-shadow rounded-4" id="teacher_pass" name="teacher_pass" placeholder="Enter Password">
                        
                      </div>
                      <button type="submit" class="btn btn-gradient-primary rounded-5 me-2">Log In</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            <!-- content-wrapper ends -->
           
            <!-- partial -->
    
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js 
     <i class="mdi mdi-eye-off position-absolute"
                        id="toggleTeacherPass" 
                        onclick="togglePassword('teacher_pass', this)"
                        style="top: 38px; right: 15px; cursor: pointer; color: #555;"></i>-->
    <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../static/assets/vendors/chart.js/chart.umd.js"></script>
    <script src="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/assets/js/off-canvas.js"></script>
    <script src="../static/assets/js/misc.js"></script>
    <script src="../static/assets/js/settings.js"></script>
    <script src="../static/assets/js/todolist.js"></script>
    <script src="../static/assets/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../static/assets/js/dashboard.js"></script>
    <script src="../static/assets/js/togglepass.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>